body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url("fondo.jpg");
    background-size: cover;
    background-position: center;
}
.card {
    margin-top: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.blanco {
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 20px;
}

section h2, section h3 {
    color: #acdfae;
    font-weight: bold;
}

section p {
    max-width: 700px;
    margin: auto;
}
p {
     color: rgb(151, 172, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}
